@import "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

.cart-area {
    display: flex;
    gap: 30px;
    background-color: #ffffff;
    position: static;
    justify-content: center;
    margin-bottom: 200px;

    .product-container {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        margin-left: 20px;
        width: 1200px;
        height: 720px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;

        .header {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .tabs {
                display: flex;
                align-items: center;

                .tabs-left {
                    display: grid;
                    align-items: center;
                    gap: 10px;

                    h2 {
                        font-size: 1.8rem;
                        margin-bottom: 5px;
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 10px;
                    }
                }

                .search-bar {
                    display: flex;
                    gap: 30px;
                    margin-left: auto;

                    button {
                        padding: 20px 20px;
                        background: #2e3847;
                        color: #e0e0e0;
                        border: none;
                        border-radius: 30px;
                        cursor: pointer;
                        gap: 30px;

                        .bi-trash {
                            width: 40px;
                            height: 40px;
                        }

                        &:hover {
                            background: #bbb;
                        }
                    }
                }
            }
        }

        hr {
            border: none;
            border: 0.5px solid #959191;
            margin: 20px 0;
        }

        .product-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .product-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #ffffff;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                gap: 20px;
            }

            #selectitem,
            input {
                width: 15px;
                height: 15px;
                border-radius: 5px;
                cursor: pointer;
                border: 2px solid #ccc;
                transition: all 0.3s ease;
            }


            #selectitem:hover,
            input:hover {
                border-color: #6dd586;
                background-color: #f0f8f5;
            }


            #selectitem:focus,
            input:focus {
                outline: none;
                border-color: #4caf50;
                box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
            }


            #selectitem:checked,
            input:checked {
                background-color: #6dd586;
                border-color: #4caf50;
                color: white;
            }


            .image-placeholder {
                width: 150px;
                height: 150px;
                background: #ccc;
                border-radius: 5px;
            }

            .product-details {
                flex: 1;
                margin-left: 20px;
            }

            h3 {
                font-size: 20px;
                margin: 0;
            }

            p {
                font-size: 20px;
                color: #888;
                margin: 5px 0 0 0;
            }


            .container-actions {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .action-plus {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-family: Arial, sans-serif;
                    margin-right: 40px;

                    .label-num {
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        border-radius: 10px;
                        border: 1px solid #ccc;

                        .numdisplay {
                            color: #151414;
                            font-weight: bold;
                            font-size: 18px;

                        }
                    }

                    button {
                        background-color: #fff;
                        border-radius: 10px;
                        width: 35px;
                        height: 35px;
                        border: 1px solid #ccc;
                        font-size: 20px;
                        cursor: pointer;
                        transition: background-color 0.3s;
                    }

                    button:hover {
                        background-color: #999;
                    }
                }

                .price-con {
                    margin-right: 40px;

                    .price {
                        font-size: 20px;
                    }
                }

                .actions-cart {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-right: 30px;

                    i {
                        width: 35px;
                        height: 35px;
                        border-radius: 10px;
                        margin-top: 5px;
                    }

                    .bi-trash {
                        width: 35px;
                        height: 35px;
                        border-radius: 10px;
                        font-size: 35px;
                    }
                }
            }

            .actions-detail,
            .actions-addcart {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 120px;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .actions-detail {
                background-color: orangered;
            }

            .actions-addcart {
                background-color: rgb(182, 95, 173);
            }

            .actions-delete {
                background-color: #e74c3c;
            }

            .actions-detail p,
            .actions-addcart p {
                color: #fff;
                font-size: 14px;
                align-items: center;
            }

            .actions-delete i {
                font-size: 18px;
                color: #fff;
            }

            .actions-detail:hover {
                background-color: #ff5733;
            }

            .actions-addcart:hover {
                background-color: #702063;
            }

            .actions-delete:hover {
                background-color: #c0392b;
            }
        }

        .pagination {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-top: 20px;
            flex-wrap: wrap;
           

            .checklist {
                display: flex;
                align-items: center;
                gap: 8px;

                #selectall,
                input {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }

                label {
                    color: #616060;
                    font-size: 14px;
                }
            }

            .condition-next {
                display: flex;
                gap: 10px;

                button {
                    width: 50px;
                    height: 50px;
                    background: #ffffff;
                    border-radius: 10px;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background 0.3s, box-shadow 0.3s;

                    &.active {
                        background: #ccc;
                        font-weight: bold;
                    }

                    &:hover {
                        background: #ddd;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            .selectorder-option {
                background-color: #6d44ff;
                border-radius: 20px;
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;

                p {
                    color: #ffffff;
                    margin: 0;
                }

                &:hover {
                    background-color: #7a4fb8;
                    transform: scale(1.05);
                }
            }
        }
    }

    .cart-summary {
        background: #f5f5f5;
        width: 450px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #643fce;
            color: white;
            border-radius: 10px 10px 0 0;
            padding: 10px 20px;

            h3 {
                font-size: 16px;
            }

            span {
                font-weight: bold;
            }
        }

        .items {
            margin-top: 10px;
            padding: 20px;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                margin-bottom: 15px;

                .item-title {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .item-name {
                    font-weight: bold;
                    font-size: 14px;
                    color: #2e3847;
                }


                .item-price {
                    font-weight: bold;
                    font-size: 14px;
                    color: #333;
                }
            }
        }

        hr {
            border-top: 2px dotted #959191;
            margin: 10px 10px;
        }

        .discount {
            padding: 10px;

            .voucher {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 10px;
                text-decoration: none;
                color: inherit;
                gap: 10px;

                .icon-coupn {
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }

                .coupon-icon {
                    padding: 20px;
                    border: 2px dashed #ff9800;
                    border-radius: 15px;
                    background-color: #fff8e1;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    width: 150px;
                    transition: transform 0.3s ease;
                }

                .coupon-icon:hover {
                    transform: scale(1.05);
                }

                .coupon-icon i {
                    font-size: 50px;
                    color: #ff5722;
                }

                .coupon-text {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #333;
                }

                span {
                    font-size: 14px;
                    flex-grow: 1;
                }

                div {
                    font-size: 14px;
                    color: #000000;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }

            .cart-dialog {
                border: none;
                padding: 20px;
                border-radius: 50px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                width: 600px;
                height: 820px;
                background-color: #f5f3f3;

                .detail-dialog {
                    gap: 5px;
                    flex-wrap: wrap;
                    padding: 5px;

                    .dialogtitl-detail {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        h2 {
                            margin: 0 0 10px;
                            font-size: 18px;
                        }

                        button {
                            margin-top: 0;
                            margin-left: auto;
                            padding: 5px 10px;
                            background-color: transparent;
                            color: rgb(10, 10, 10);
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 16px;
                        }

                        button:hover {
                            color: red;
                        }

                        button span {
                            font-size: 50px;
                            line-height: 1;
                        }
                    }

                    .search-container {
                        display: flex;
                        gap: 20px;

                        .search-box {
                            position: relative;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            max-width: 500px;


                            .search-icon {
                                position: absolute;
                                left: 10px;
                                font-size: 16px;
                                color: #aaa;
                            }

                            #site-search {
                                width: 100%;
                                padding: 10px 15px 10px 35px;
                                border: 1px solid #ccc;
                                border-radius: 20px;
                                font-size: 16px;
                                transition: border-color 0.3s;
                            }

                            #site-search:focus {
                                border-color: #007bff;
                                outline: none;
                            }
                        }

                        .search-button {
                            padding: 10px 20px;
                            background-color: #000000;
                            color: white;
                            border: none;
                            border-radius: 20px;
                            font-size: 16px;
                            cursor: pointer;
                            transition: background-color 0.3s, transform 0.2s;
                        }

                        .search-button:hover {
                            background-color: #0056b3;
                        }

                        .search-button:active {
                            transform: scale(0.98);
                        }
                    }

                    .cou {
                        display: flex;
                        gap: 20px;
                        flex-wrap: wrap;
                        margin-top: 20px;
                        padding: 20px;
                        justify-content: center;
              

                        .card-coupon {
                            width: 450px;
                            height: auto;
                            border-radius: 5px;
                            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
                            background-color: #fff;
                            padding: 0px;

                            position: relative;
                            display: flex;
                        }

                        .cou-left {
                            background-color: #3445e0;
                            width: 180px;
                            height: 100%;
                            border-radius: 5px 0 0 5px;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }


                        .cou-left .coupon-logo {
                            padding: 40px;
                            width: 100px;
                            object-fit: contain;
                        }

                        .cou-right {
                            flex-grow: 1;
                            padding: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .coupon-title {
                                font-size: 18px;
                                font-weight: bold;
                                margin: 0;
                                padding-top: 10px;
                                padding-left: 10px;
                            }

                            .row-circle {
                                display: flex;
                                align-items: center;
                                margin-top: 15px;

                                .coupon-min {
                                    font-size: 14px;
                                    padding-left: 10px;
                                }

                                .checklist {
                                    width: 30px;
                                    height: 30px;
                                    margin-left: auto;
                                    margin-right: 30px;

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }

                            .coupon-expiry {
                                font-size: 12px;
                                padding-bottom: 10px;
                                padding-left: 10px;

                                .highlight {
                                    font-weight: bold;
                                    color: #e74c3c;
                                }

                                .coupon-terms {
                                    color: #3445e0;
                                    text-decoration: none;
                                    font-size: 12px;
                                    padding: 10px;
                                }

                            }

                        }

                        .card-coupon::before {
                            position: absolute;
                            content: "";
                            height: 40px;
                            left: -20px;
                            border-radius: 40px;
                            z-index: 1;
                            top: -25px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon::after {
                            position: absolute;
                            content: "";
                            height: 40px;
                            left: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 40px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon .third-cutout {
                            position: absolute;
                            height: 40px;
                            left: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 100px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon .fourth-cutout {
                            position: absolute;
                            height: 40px;
                            left: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 160px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }


                        .card-coupon .right-first-cutout {
                            position: absolute;
                            height: 40px;
                            right: -20px;
                            border-radius: 40px;
                            z-index: 1;
                            top: -25px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon .right-second-cutout {
                            position: absolute;
                            height: 40px;
                            right: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 40px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon .right-third-cutout {
                            position: absolute;
                            height: 40px;
                            right: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 100px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }

                        .card-coupon .right-fourth-cutout {
                            position: absolute;
                            height: 40px;
                            right: -25px;
                            border-radius: 40px;
                            z-index: 1;
                            top: 160px;
                            background-color: #f5f3f3;
                            width: 40px;
                        }
                    }
                }
            }

            .coins {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 10px;
                text-decoration: none;
                color: inherit;

                .coin-icon {

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                span {
                    margin-left: 10px;
                    font-size: 14px;
                    flex-grow: 1;
                }


                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: 0.4s;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    input:checked+.slider {
                        background-color: #6dd586;
                    }

                    input:focus+.slider {
                        box-shadow: 0 0 1px #6dd586;
                    }

                    input:checked+.slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }


                    .slider.round {
                        border-radius: 34px;
                    }

                    .slider.round:before {
                        border-radius: 50%;
                    }
                }
            }

        }

        .coin-earn {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            font-size: 14px;
            padding: 10px;

            span {
                font-weight: bold;
            }
        }

        .total {
            display: flex;
            justify-content: space-between;

            font-size: 16px;
            font-weight: bold;
            padding: 10px;

            span:last-child {
                color: #8000ff;
            }
        }

        .confirm {
            padding: 20px;

            button {
                width: 100%;
                background-color: #6d44ff;
                color: #ffffff;
                padding: 10px 15px;
                font-size: 16px;
                font-weight: bold;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #5a00bf;
                }
            }
        }
    }
}

@media (max-width: 414px) {}

@media (min-width: 600px) and (max-width: 1024px) {}

@media (min-width: 1280px) and (max-width: 1920px) {}

@media (min-width: 1920px) {}