@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";
footer {
    background-color: #2e3847;
    color: #fff;
    padding: 40px 20px;
    width: 100%; 
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 888;
    box-sizing: border-box; 
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 190px;
    margin-right: 190px;
}

.footer-section-title,
.footer-section-menu {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;  
}
.footer-section-title p{
    margin: 5px;
}
.footer-section-menu p{
    margin: 5px;
}
.footer-section.newsletter {
    position: relative; 
}

.footer-section .circle-message {
    position: absolute; 
    top: -70px;
    left: 170px;  
    transform: translateX(-20%); 
    background-color: #6d44ff;  
    width: 80px; 
    height: 80px; 
    border-radius: 50%;  
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);  
    text-decoration: none;  
    transition: transform 0.3s, background-color 0.3s;
     
}

.footer-section .circle-message:hover {
    background-color: #583cdd; 
    transform: translateX(-20%) scale(1.1);  
}

.footer-section .circle-message .bi-chat-dots-fill {
    font-size: 30px;
    color: #fff;
}

.social-media {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
} 

.footer-detail {
    position: relative; 
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.footer-detail::before {
    content: "";
    position: absolute;
    top: 0;  
    left: 80px;  
    right: 80px;  
    height: 1px;  
    background-color: #fff;  
}
