<app-header></app-header>

<div class="contact-area">
    <div class="detail-title">
        <div class="contact-title">
            <img src="../../../assets/images/img_contact.png" alt="DN Center Image">
        </div>
        <div class="contact-detail">
            <h1>DN Center</h1>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec
                ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit
                amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel
                scelerisque nisl consectetur et.
                Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta
                gravida at eget metus.</p>
        </div>
    </div>
    <div class="contact-form">
        <div class="contact-formleft">
            <div class="input-container">
                <div class="title-detail">
                    <i class="bi bi-person"></i>
                    <label class="label">ชื่อ-นามสกุล</label>
                </div>
                <div class="input-wrapper">
                    <input class="input-field" placeholder="สิริวิชญ์">
                </div>
            </div>

            <div class="detailnum">
                <div class="input-container">
                    <div class="title-detail">
                        <i class="bi bi-telephone"></i>
                        <label class="label">หมายเลขโทรศัพท์</label>
                    </div>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="080-245-5193">
                    </div>
                </div>

                <div class="input-container">
                    <div class="title-detail">
                        <i class="bi bi-envelope"></i>
                        <label class="label">อีเมล</label>
                    </div>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="test@example.com">
                    </div>
                </div>
            </div>

            <div class="input-containerdetail">
                <div class="title-detail">
                    <i class="bi bi-pencil"></i>
                    <label class="label">Message</label>
                </div>
                <div class="input-wrapper">
                    <input class="input-field" placeholder="">
                </div>
            </div>
        </div>

        <div class="contact-formright">
            <div class="input-container">
                <div class="input-wrapper">
                    <i class="bi bi-facebook"></i>
                    <p><a href="https://facebook.com/DnCenter" target="_blank">Facebook: Dn Center</a></p>
                </div>
            </div>
            <div class="input-container">
                <div class="input-wrapper">
                    <i class="bi bi-line"></i>
                    <p><a href="https://line.me/R/ti/p/~dncenter" target="_blank">Line ID: dncenter</a></p>
                </div>
            </div>
            <div class="input-container">
                <div class="input-wrapper">
                    <i class="bi bi-envelope"></i>
                    <p><a href="mailto:dncenter.store@gmail.com">Email : dncenter.storegmail.com</a></p>
                </div>
            </div>
            <div class="input-container">
                <div class="input-wrapper">
                    <i class="bi bi-telephone"></i>
                    <p>Tel: 090 4400 456</p>
                </div>
            </div>
        </div>

    </div>

    <div class="submit">
        <div class="checklist">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">
                <p>ข้าพเจ้าได้อ่านและยอมรับเงื่อนไขตามที่ระบุไว้ใน <u>นโยค้นครองข้อมูลส่วนบุคคล</u>
                    ทุกประการและให้ความยินยอมใน</p>
                <p>การเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้า ตามวัตถุประสงค์ที่ได้มีการแจ้งไว้ข้างต้น</p>
            </label>
        </div>

        <button class="btn-submit">
            <p>Submit</p>
        </button>

    </div>
    <div class="googlemap">    
            <iframe 
                src="https://maps.google.com/maps?q=bangkok&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                allowfullscreen
            ></iframe>
    </div>
    
</div>
<app-footer></app-footer>