<app-header></app-header>

<div class="dataarea">
    <div class="profile-container">
        <!-- ส่วนเมนู -->
        <div class="menu-section">
            <div class="menu-item">
                <div class="search-container">
                    <div class="search-box">
                        <i class="fas fa-search search-icon"></i>
                        <input type="search" id="site-search" name="q" placeholder="ค้นหาหมวดหมู่">
                    </div>
                    <button class="search-button">ค้นหา</button>
                </div>
                <li class="menu-item has-collapsible">
                    <label for="menu1" class="menu-link">
                        <div class="icon"><i class="bi bi-capsule"></i> </div>
                        ยา
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        เครื่องสำอาง
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item">
                            <a href="">
                                <p> </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        อาหารเสริม
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        วัสดุทางการแพทย์
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        อุปกรณ์ทางการแพทย์
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p>อุปกรณ์ทางการแพทย์</p>
                            </a></li>
                        <li class="menu-child-item"><a href="">
                                <p>สำหรับผิวหนัง</p>
                            </a></li>
                        <li class="menu-child-item"><a href="">
                                <p>สำหรับหู คอ จมูก</p>
                            </a></li>
                        <li class="menu-child-item"><a href="">
                                <p>สำหรับเด็ก</p>
                            </a></li>
                        <li class="menu-child-item"><a href="">
                                <p>วัสดุทางการแพทย์</p>
                            </a></li>
                        <li class="menu-child-item"><a href="">
                                <p>เครื่องมือแพทย์เฉพาะทาง</p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        สินค้าสำหรับคลินิก
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        สินค้าสำหรับคลินิก
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        อาหารเเละเครื่องดื่ม
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        วัสดุสิ้นเปลือง
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        อุปกรณ์ทันตกรรม
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        วัสดุทันตกรรม
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        อื่นๆ
                        <span class="arrow">&gt;</span>
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="">
                                <p> </p>
                            </a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>

    <div class="detail-item">
        <div class="products-item">
            <!-- Product Item1 -->
            <div class="product-item">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>

                <div class="product-info">

                    <div class="tags">
                        <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
                        <span><i class="bi bi-truck"></i> ส่งฟรี</span>
                        <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
                    </div>
                </div>

                <div class="product-actions">
                    <p> Diclommed 500mg ฟ้า+ขาว </p>
                    <div class="buttons">
                        <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
                        <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
                    </div>

                </div>
            </div>
            <!-- Product Item1 -->
            <div class="product-item">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>

                <div class="product-info">

                    <div class="tags">
                        <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
                        <span><i class="bi bi-truck"></i> ส่งฟรี</span>
                        <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
                    </div>
                </div>

                <div class="product-actions">
                    <p> Diclommed 500mg ฟ้า+ขาว </p>
                    <div class="buttons">
                        <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
                        <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
                    </div>

                </div>
            </div>
            <!-- Product Item1 -->
            <div class="product-item">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>

                <div class="product-info">

                    <div class="tags">
                        <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
                        <span><i class="bi bi-truck"></i> ส่งฟรี</span>
                        <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
                    </div>
                </div>

                <div class="product-actions">
                    <p> Diclommed 500mg ฟ้า+ขาว </p>
                    <div class="buttons">
                        <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
                        <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
                    </div>

                </div>
            </div>
            <!-- Product Item1 -->
            <div class="product-item">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>

                <div class="product-info">

                    <div class="tags">
                        <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
                        <span><i class="bi bi-truck"></i> ส่งฟรี</span>
                        <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
                    </div>
                </div>

                <div class="product-actions">
                    <p> Diclommed 500mg ฟ้า+ขาว </p>
                    <div class="buttons">
                        <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
                        <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>