<div class="review-area">
    <div class="review-title">
        <h2>รีวิวจากลูกค้าของเรา</h2>

    </div>
    <div class="review-action">
        <div class="drug-store">
            <button>ร้านยา</button>

        </div>
        <div class="clinic">
            <button>คลินิก</button>
        </div>
        <div class="dentis">
            <button>ทันตแพทย์</button>

        </div>
        <div class="veterinary">
            <button>สัตวแพทย์</button>
        </div>


    </div>
    <div class="review-detail">
        <div class="profilereview-card">
            <div class="profile-image">00
                <img src="../../../assets/images/category/cat_cosmetics.png">
            </div>
            <h3 class="profile-name">คุณมนกานต์</h3>
            <p class="profile-description">
                Nulla vitae elit libero, a pharetra augue.<br>
                Donec id elit non mi porta gravida at eget metus cras justo.
            </p>
        </div>
        <div class="profilereview-card">
            <div class="profile-image">
                <img src="../../../assets/images/category/cat_cosmetics.png">
            </div>
            <h3 class="profile-name">คุณมนกานต์</h3>
            <p class="profile-description">
                Nulla vitae elit libero, a pharetra augue.<br>
                Donec id elit non mi porta gravida at eget metus cras justo.
            </p>
        </div>
        <div class="profilereview-card">
            <div class="profile-image">
                <img src="../../../assets/images/category/cat_cosmetics.png">
            </div>
            <h3 class="profile-name">คุณมนกานต์</h3>
            <p class="profile-description">
                Nulla vitae elit libero, a pharetra augue.<br>
                Donec id elit non mi porta gravida at eget metus cras justo.
            </p>
        </div>
        <div class="profilereview-card">
            <div class="profile-image">
                <img src="../../../assets/images/category/cat_cosmetics.png">
            </div>
            <h3 class="profile-name">คุณมนกานต์</h3>
            <p class="profile-description">
                Nulla vitae elit libero, a pharetra augue.<br>
                Donec id elit non mi porta gravida at eget metus cras justo.
            </p>
        </div>

    </div>
</div>