@import "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


.dataarea {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}


.profile-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  margin-left: 200px;
  max-width: 500px;

  .profile-section {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #cec7c7;
      padding: 1rem;
      border-radius: 8px;
      margin-left: 10px;
      padding: 20px;

      .profile-icon {
          width: 50px;
          height: 50px;
          background-color: #f2f2f2;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          color: #555;
      }

      .profile-details {
          .profile-name {
              font-size: 1rem;
              font-weight: bold;
              margin: 0;
          }

          .edit-button {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              font-size: 0.875rem;
              color: #6a6a6a;
              background: none;
              border: none;
              cursor: pointer;

              .icon-edit {
                  font-size: 1rem;
              }
          }
      }
  }


  .menu-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .menu-item {
          display: flex;
          flex-direction: column;
          background-color: #cec7c7;
          padding: 20px;
          border-radius: 8px;
          margin-left: 10px;

          *,
          *::before,
          *::after {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              list-style: none;
              text-decoration: none;
          }

          // .menu.active {
          //     transform: translateX(0);
          // }

          .menu-item {
              position: relative;
          }

          .menu-link {
              font-size: 1rem;
              font-weight: 600;
              text-transform: uppercase;
              color: #252a32;
              padding: 0.5rem 1rem;
              transition: color 0.3s ease;
              a{
                color: #000000;
              }
          
          }
                

          .menu-link:hover {
              color: #d32f2f;
          }

          .menu-item.has-collapsible {
              display: block;
          }

          .menu-item input[type="checkbox"] {
              display: none;
          }

          .menu-item label {
              display: inline-flex;
              align-items: center;
              padding: 0.5rem 1rem;
              font-size: 1rem;
              font-weight: 600;
              text-transform: uppercase;
              cursor: pointer;
              color: #252a32;
              transition: color 0.3s ease;
          }

          .menu-item label:hover {
              color: #d32f2f;
          }

          .menu-item input[type="checkbox"]:checked+label+.menu-child {
              display: block;
          }

          .menu-child {
              display: none;
              padding-left: 1rem;
          }

          .menu-child-item {
              margin-left: 35px;
              font-size: 18px;
              padding: 0.7rem 1rem;
              color: #252a32;

              p {
                  color: #000000;
              }
          }

          .menu-child-item a:hover {
              color: #bf73bf;
          }

          .icon {
              background-color: #fffdfd;
              width: 40px;
              height: 40px;
              border-radius: 10px;
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                  display: inline-flex;
                  align-items: center;
              }

              label {
                  display: inline-flex;
                  align-items: center;
              }
          }
      }
  }
}



 
.detailbank {
  display: grid;
  gap: 20px;

  .order-page {
    background-color: #cec7c7;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .header {
      flex-direction: column;
      margin-bottom: 20px;

      h2 {
        font-size: 1.8rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }

    hr {
      margin: 20px 0;
      border: 0.5px solid #e0e0e0;
    }

  
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        width: 100%;
        margin-bottom: 20px;

        .form-content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 10px;

          .input-container {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 10px;
            border-radius: 15px;
            flex: 1;
            min-width: 300px;

            .input-wrapper {
              position: relative;
              display: flex;
              align-items: center;

              .label {
                font-size: 0.9rem;
                color: #888;
                margin-bottom: 5px;
              }

              .input-field {
                font-size: 1rem;
                color: #333;
                background-color: #ffffff;
                border: none;
                outline: none;
                width: 100%;
                padding: 10px;
                padding-right: 40px;
                margin: 0;
                box-sizing: border-box;
              }

              .input-field::placeholder {
                color: #0a0a0a;
              }

              .dropdown {
                padding: 15px;
                font-size: 1.1rem;
                border-radius: 8px;
                background-color: #ffffff;
                width: 100%;
                border: 2px solid #ffffff;
                box-sizing: border-box;

              }
            }
          }
        }
      }

      .btn-group-toggle {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 80px;

        .btn-primary {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;


          .custom-checkbox {
            width: 20px;
            height: 20px;
            margin: 0;
            border: 2px solid #6a1b9a;
            border-radius: 5px;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            position: relative;
          }

          .custom-checkbox::after {
            content: '✓';
            color: #6a1b9a;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .custom-checkbox:checked {
            background-color: #6a1b9a;
            border-color: #6a1b9a;
          }

          .custom-checkbox:checked::after {
            color: #fff;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }


        }
      }


      .btn-save {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9e1099;
        color: #ffffff;
        margin-top: 20px;
        padding: 10px 15px;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
        width: 100px;
        height: 30px;
      }
 

  }

  .orer-page-credit {
    background-color: #cec7c7;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .header {
      flex-direction: column;
      margin-bottom: 20px;

      h2 {
        font-size: 1.8rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }

    hr {
      margin: 20px 0;
      border: 0.5px solid #e0e0e0;
    }

    .order-list {
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        width: 100%;
        margin-bottom: 20px;

        .form-content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 10px;

          .input-container {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 10px;
            border-radius: 15px;
            flex: 1;
            min-width: 300px;

            .input-wrapper {
              position: relative;
              display: flex;
              align-items: center;


              .label {
                font-size: 0.9rem;
                color: #888;
                margin-bottom: 5px;
              }

              .input-field {
                font-size: 1rem;
                color: #333;
                background-color: #ffffff;
                border: none;
                outline: none;
                width: 100%;
                padding: 10px;
                padding-right: 40px;
                margin: 0;
                box-sizing: border-box;
              }

              .input-field::placeholder {
                color: #0a0a0a;
              }

              .dropdown {
                padding: 15px;
                font-size: 1.1rem;
                border-radius: 8px;
                background-color: #ffffff;
                width: 100%;
                border: 2px solid #ffffff;
                box-sizing: border-box;
              }
            }

          }


          .date-expire {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            .input-date {
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              padding: 10px;
              border-radius: 15px;
              flex: 1;
              min-width: 300px;

              label {
                font-size: 0.9rem;
                color: #888;
                margin-bottom: 8px;
                font-weight: bold;
              }

              .input-wrapper {
                position: relative;
                display: flex;
                align-items: center;


                .input-field {
                  font-size: 1rem;
                  color: #333;
                  background-color: #ffffff;
                  border-radius: 8px;
                  width: 100%;
                  max-width: 550px;
                  padding: 10px;
                  padding-right: 20px;
                  margin: 5px 0;
                  box-sizing: border-box;
                }

                .calendar-icon {
                  right: 25px;
                  font-size: 1.5rem;
                  color: #6a1b9a;
                }
              }
            }

            .input-security {
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              padding: 10px;
              border-radius: 15px;
              flex: 1;
              min-width: 300px;
            }

            .label {
              font-size: 0.9rem;
              color: #888;
              margin-bottom: 8px;
              font-weight: bold;
            }

            .input-field,
            .dropdown {
              font-size: 1rem;
              color: #333;
              background-color: #ffffff;
              border: none;
              outline: none;
              width: 100%;
              padding: 10px;
              padding-right: 40px;
              margin: 5px;
              box-sizing: border-box;
            }


            .calendar-icon {
              width: 10px;
              position: absolute;
              right: 50px;
              color: #6a1b9a;
              font-size: 1.2rem;
              cursor: pointer;
              transition: transform 0.3s ease, color 0.3s ease;
            }

            .calendar-icon:hover {
              color: #883cb2;
              transform: scale(1.1);
            }

            .dropdown {
              padding: 10px;
              font-size: 1rem;
              border-radius: 8px;
              background-color: #ffffff;
              border: none;
            }
          }


        }
      }

      .btn-group-toggle {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 80px;

        .btn-primary {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;


          .custom-checkbox {
            width: 20px;
            height: 20px;
            margin: 0;
            border: 2px solid #6a1b9a;
            border-radius: 5px;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            position: relative;
          }

          .custom-checkbox::after {
            content: '✓';
            color: #6a1b9a;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .custom-checkbox:checked {
            background-color: #6a1b9a;
            border-color: #6a1b9a;
          }

          .custom-checkbox:checked::after {
            color: #fff;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }
      }

      .btn-save {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9e1099;
        color: #ffffff;
        margin-top: 20px;
        padding: 10px 15px;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
        width: 100px;
        height: 30px;
      }
    }
  }
}





@media (max-width: 768px) {
  .menu-section {
    gap: 20px;
  }
}