<div class="coupon-area">
    <div class="coupon-myself">
        <h3>คูปองสำหรับคุณ</h3>
        <p>รหัสส่วนลดของฉัน</p>
        <hr />
        <div class="coupon-action">
            <div class="couponall">
                <a href="http://">
                    <p>คูปองทั้งหมด (3)</p>
                </a>

            </div>
            <div class="coupon-canused">
                <a href="http://">
                    <p>คูปองที่ใช้ได้</p>
                </a>
            </div>

            <div class="coupon-canused">
                <a href="http://">
                    <p>ยา</p>
                </a>
            </div>
            <div class="coupon-canused">
                <a href="http://">
                    <p>อาหารเสริม</p>
                </a>
            </div>

        </div>

        <div class="cou">
            <div class="card-coupon">
                <div class="cou-left">
                    <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                    <div class="third-cutout"></div>
                    <div class="fourth-cutout"></div>
                </div>
                <div class="cou-right">
                    <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                    <div class="row-circle">
                        <p class="coupon-min">ขั้นต่ำ ฿0</p>
                        <!-- <div class="circle"></div> -->
                    </div>
                    <p class="coupon-expiry">
                        ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                        <a href="#" class="coupon-terms">เงื่อนไข</a>
                    </p>
                    <div class="right-first-cutout"></div>
                    <div class="right-second-cutout"></div>
                    <div class="right-third-cutout"></div>
                    <div class="right-fourth-cutout"></div>
                </div>
            </div>
            <div class="card-coupon">
                <div class="cou-left">
                    <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                    <div class="third-cutout"></div>
                    <div class="fourth-cutout"></div>
                </div>
                <div class="cou-right">
                    <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                    <div class="row-circle">
                        <p class="coupon-min">ขั้นต่ำ ฿0</p>
                        <!-- <div class="circle"></div> -->
                    </div>
                    <p class="coupon-expiry">
                        ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                        <a href="#" class="coupon-terms">เงื่อนไข</a>
                    </p>
                    <div class="right-first-cutout"></div>
                    <div class="right-second-cutout"></div>
                    <div class="right-third-cutout"></div>
                    <div class="right-fourth-cutout"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="coupon-optional">
        <h3>คูปองอื่นๆ </h3>
        <p>รหัสส่วนลดอื่น ๆ</p>
        <hr />
        <div class="coupon-optionall">
            <div class="option-row1">
                <div class="card-coupon">
                    <div class="cou-left">
                        <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                        <div class="third-cutout"></div>
                        <div class="fourth-cutout"></div>
                    </div>
                    <div class="cou-right">
                        <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                        <div class="row-circle">
                            <p class="coupon-min">ขั้นต่ำ ฿0</p>
                            <!-- <div class="circle"></div> -->
                        </div>
                        <p class="coupon-expiry">
                            ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                            <a href="#" class="coupon-terms">เงื่อนไข</a>
                        </p>
                        <div class="right-first-cutout"></div>
                        <div class="right-second-cutout"></div>
                        <div class="right-third-cutout"></div>
                        <div class="right-fourth-cutout"></div>
                    </div>
                </div>
                <div class="card-coupon">
                    <div class="cou-left">
                        <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                        <div class="third-cutout"></div>
                        <div class="fourth-cutout"></div>
                    </div>
                    <div class="cou-right">
                        <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                        <div class="row-circle">
                            <p class="coupon-min">ขั้นต่ำ ฿0</p>
                            <!-- <div class="circle"></div> -->
                        </div>
                        <p class="coupon-expiry">
                            ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                            <a href="#" class="coupon-terms">เงื่อนไข</a>
                        </p>
                        <div class="right-first-cutout"></div>
                        <div class="right-second-cutout"></div>
                        <div class="right-third-cutout"></div>
                        <div class="right-fourth-cutout"></div>
                    </div>
                </div>
                <div class="card-coupon">
                    <div class="cou-left">
                        <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                        <div class="third-cutout"></div>
                        <div class="fourth-cutout"></div>
                    </div>
                    <div class="cou-right">
                        <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                        <div class="row-circle">
                            <p class="coupon-min">ขั้นต่ำ ฿0</p>
                            <!-- <div class="circle"></div> -->
                        </div>
                        <p class="coupon-expiry">
                            ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                            <a href="#" class="coupon-terms">เงื่อนไข</a>
                        </p>
                        <div class="right-first-cutout"></div>
                        <div class="right-second-cutout"></div>
                        <div class="right-third-cutout"></div>
                        <div class="right-fourth-cutout"></div>
                    </div>
                </div>     
            </div>
            <div class="option-row2">
                <div class="card-coupon">
                    <div class="cou-left">
                        <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                        <div class="third-cutout"></div>
                        <div class="fourth-cutout"></div>
                    </div>
                    <div class="cou-right">
                        <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                        <div class="row-circle">
                            <p class="coupon-min">ขั้นต่ำ ฿0</p>
                            <!-- <div class="circle"></div> -->
                        </div>
                        <p class="coupon-expiry">
                            ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                            <a href="#" class="coupon-terms">เงื่อนไข</a>
                        </p>
                        <div class="right-first-cutout"></div>
                        <div class="right-second-cutout"></div>
                        <div class="right-third-cutout"></div>
                        <div class="right-fourth-cutout"></div>
                    </div>
                </div>
                <div class="card-coupon">
                    <div class="cou-left">
                        <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo" class="coupon-logo">
                        <div class="third-cutout"></div>
                        <div class="fourth-cutout"></div>
                    </div>
                    <div class="cou-right">
                        <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                        <div class="row-circle">
                            <p class="coupon-min">ขั้นต่ำ ฿0</p>
                            <!-- <div class="circle"></div> -->
                        </div>
                        <p class="coupon-expiry">
                            ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                            <a href="#" class="coupon-terms">เงื่อนไข</a>
                        </p>
                        <div class="right-first-cutout"></div>
                        <div class="right-second-cutout"></div>
                        <div class="right-third-cutout"></div>
                        <div class="right-fourth-cutout"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>