.about-area {
    background-color: #f5f5f5;

    .about-title {
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }

    .about-menu,
    .about-history {
        max-width: 1200px; /* กำหนดความกว้างสูงสุดเท่ากัน */
        margin: 0 auto; /* จัดกึ่งกลาง */
    }

    .about-menu {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 20px;  
        
        button {
            border: none;
            background-color: #f5f5f5;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

            &:focus {
                outline: none;
                background-color: #ffffff;
                transform: scale(1.03);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            .img-menu {
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                img {
                    width: 70%;
                    height: 70%;
                    object-fit: contain;
                }
            }

            .detail-menu {
                flex-grow: 1;
                text-align: left;

                h3 {
                    margin: 0;
                    font-size: 18px;
                    color: #333333;
                }

                p {
                    margin: 5px 0 0;
                    font-size: 14px;
                    color: #666666;
                    line-height: 1.4;
                }
            }
        }
    }

    .about-history {   
        display: flex;
        padding: 20px;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .history-detail {
            display: flex;
            justify-content: center;
            margin: 20px;
         
           
            border-radius: 10px;
            overflow: hidden;

            .history-img {
                width: 50%; 
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 16 / 9;
                overflow: hidden;
                background-color: #ffffff;
       
            
                border-radius: 10px 0 0 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                 
                }
            }

            .about-detail {
                padding: 20px;
                background-color: #ffffff;
              
                width: 50%; 
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    color: #333;
                }

                p {
                    font-size: 16px;
                    line-height: 1.6;
                    color: #666;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
