<div class="about-area">
    <div class="about-title">
        <h1>เกี่ยวกับเรา</h1>

    </div>
    <div class="about-menu">

        <button>
            <div class="img-menu1">
                <img src="../../../assets/images/icon_aboutus1.png" alt="">
            </div>
            <div class="detail-menu1">
                <h3>ประวัติของเรา</h3>
                <p>
                    Nulla vitae elit libero, a pharetra augue. <br>
                    Donec id elit non mi porta gravida at<br>
                    eget metus cras justo.
                </p>
            </div>
        </button>

        <button>
            <div class="img-menu2">
                <img src="../../../assets/images/icon_aboutus2.png" alt="">
            </div>
            <div class="detail-menu2">
                <h3>วิสัยทัศน์</h3>
                <p>
                    Nulla vitae elit libero, a pharetra augue.<br>
                    Donec id elit non mi porta gravida at <br>
                    eget metus cras justo.
                </p>
            </div>
        </button>
        <button>
            <div class="img-menu3">
                <img src="../../../assets/images/icon_aboutus3.png" alt="">
            </div>
            <div class="detail-menu3">
                <h3>ภารกิจ</h3>
                <p>
                    Nulla vitae elit libero, a pharetra augue. <br>
                    Donec id elit non mi porta gravida at <br>
                    eget metus cras justo.
                </p>
            </div>
        </button>
    </div>

    <div class="about-history">
        <div class="history-detail">
            <div class="history-img">
                <img src="../../../assets/images/img_about.png" alt="">
            </div>
            <div class="about-detail">
                <div class="about-text">
                    <h2>ประวัติของเรา</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper</p>
                    <p>nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur
                    </p>
                    <p>ac, vestibulum at eros.</p><br>
    
                    <div></div>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum</p>
                    <p>nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget</p>
                    <p>urna.</p> <br>
                    <div></div>
    
                    <p>Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper</p>
                    <p>nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur</p>
                    <p>ac, vestibulum at eros.</p>

                </div>
            </div>
        </div>
    </div>

</div>