<div class="dataarea">
  <div class="profile-container">

    <!-- ส่วนโปรไฟล์ -->
    <div class="profile-section">
      <div class="profile-icon">
        <i class="icon-user"></i>
      </div>
      <div class="profile-details">
      
        <p class="profile-name">สิริวิชญ์</p>
        <a href="">  <i class="bi bi-pencil-square"></i> แก้ไขข้อมูลส่วนตัว</a>
      </div>
    </div>

    <!-- ส่วนเมนู -->
    <div class="menu-section">
      <div class="menu-item">
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu1">
          <label for="menu1" class="menu-link">
            <div class="icon"> <i class="fas fa-user"></i> </div>
            บัญชีของฉัน
          </label>
          <ul class="menu-child">
            <li class="menu-child-item"><a href="/datapersonnal"><p>ข้อมูลส่วนบุคคล</p></a></li>
            <li class="menu-child-item"><a href="/accountbank"><p>บัญชีธนาคาร & บัตร</p></a></li>
            <li class="menu-child-item"><a href="/databusiness"><p>ข้อมูลธุรกิจ</p></a></li>
            <li class="menu-child-item"><a href="/datashipping"><p>ข้อมูลการจัดส่ง</p></a></li>
            <li class="menu-child-item"><a href="/coupon"><p>คูปองของฉัน</p></a></li>
            <li class="menu-child-item"><a href="/forgot"><p>เปลี่ยนรหัสผ่าน</p></a></li>
          </ul>
        </li>
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu2">
          <label for="menu2" class="menu-link">
            <div class="icon">
              <i class="fas fa-file-alt"></i>
            </div>
            <a href="/phurchaseorder"> ใบสั่งซื้อ</a>
          </label>
        </li>
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu3">
          <label for="menu3" class="menu-link">
            <div class="icon">
              <i class="fas fa-heart"></i>
            </div>
            <a href="/favoriteorder"> สินค้าที่ถูกใจ</a>
          </label>
        </li>
      </div>
    </div>
  </div>

  <div class="detail-from">
    <div class="profile-from">
      <div class="header">
        <h2>ข้อมูลส่วนบุคคล</h2>
        <p>จัดการข้อมูลส่วนตัวของคุณเพื่อความปลอดภัยของบัญชีผู้ใช้นี้</p>
      </div>
      <hr />
   
      <div class="form-content">
        <div class="form-left">

          <label>ชื่อ - นามสกุล*</label>
          <input type="text" placeholder="สิริวิชญ์" required />
         
          <label>หมายเลขโทรศัพท์*</label>
          <input type="text" placeholder="080-245-5193" required />
          <label>อีเมล*</label>
          <input type="email" placeholder="testui@gmail.com" required />

          <label>เพศ</label>
          <div class="gender-options">
            <label>
              <input type="checkbox" name="gender" checked />
              <p>ชาย</p>
            </label>
            <label>
              <input type="checkbox" name="gender" />
              <p>หญิง</p>
            </label>
            <label>
              <input type="checkbox" name="gender" />
              <p>อื่นๆ</p>
            </label>
          </div>
        </div>

        <hr />
        <div class="form-right">
          <div class="profile-picture">
            <div class="image-placeholder">
            </div>
            <input type="file" name="file" id="file-upload" />
            <label for="file-upload" class="file-label">เลือกรูป</label>
            <p class="file-info">ขนาดไฟล์: สูงสุด 1 MB<br />ไฟล์ที่รองรับ: JPEG, PNG</p>
          </div>
        </div>
      </div>
      <button class="save-button">บันทึก</button>
    </div>

    <div class="detail-coin">
      <div class="coin-from">
        <div class="header">
          <h2>Coin สะสมของฉัน</h2>
          <p>เริ่มสะสม 1 พ.ย.- 31 ธ.ค. 67 ใช้ได้ถึง 31 มกราคม 2568</p>
        </div>
       
        <div class="coin-content">
          <h1>1,000 Coin</h1>
          <a name="" id="" class="btn btn-primary" href="#" role="button">แลกคูปองส่วนลด</a>
        </div>
      </div>


      <div class="levelcoin-from">
        <div class="header">
          <h2>ระดับคะแนนของฉัน</h2>
          <h3>1,000 Coin</h3>
          <p>ต้องการ 832.97 คะแนนเพื่อถึงเงื่อนไข ระดับเพชร</p>
        </div>
        <div class="levelcoin">
          <div class="progress-container">
            <div class="progress-bar">
              <div class="step completed">
                <div class="icon bronze"></div>
                <p>Scũ Bronze</p>
              </div>
              <div class="step active">
                <div class="icon silver"></div>
                <p>Scũ Silver</p>
              </div>
              <div class="step">
                <div class="icon gold"></div>
                <p>Scũ Gold</p>
              </div>
              <div class="step">
                <div class="icon platinum"></div>
                <p>Scũ Platinum</p>
              </div>
              <div class="progress-line"></div>

            </div>
    
          </div>

        </div>
        <div class="coin-content">
          <p>การคำนวณระดับสมาชิก</p>
          <i class="fas fa-info-circle"></i>
        </div>
      </div>

    </div>
  </div>
</div>