<app-header></app-header>
<div class="dataarea">

  <div class="profile-container">
    <!-- ส่วนโปรไฟล์ -->
    <div class="profile-section">
      <div class="profile-icon">
        <img src="../../../assets/images/profile.png" alt="">
      </div>
      <div class="profile-details">
        <p class="profile-name">สิริวิชญ์</p>
        <a href="#"> <i class="bi bi-pencil-square"></i> แก้ไขข้อมูลส่วนตัว</a>
      </div>
    </div>
    <!-- ส่วนเมนู -->
    <div class="menu-section">
      <div class="menu-item">
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu1">
          <label for="menu1" class="menu-link">
            <div class="icon"> <i class="fas fa-user"></i> </div>
            บัญชีของฉัน
          </label>
          <ul class="menu-child">
            <li class="menu-child-item"><a href="/datapersonnal">
                <p>ข้อมูลส่วนบุคคล</p>
              </a></li>
            <li class="menu-child-item"><a href="/accountbank">
                <p>บัญชีธนาคาร & บัตร</p>
              </a></li>
            <li class="menu-child-item"><a href="/databusiness">
                <p>ข้อมูลธุรกิจ</p>
              </a></li>
            <li class="menu-child-item"><a href="/datashipping">
                <p>ข้อมูลการจัดส่ง</p>
              </a></li>
            <li class="menu-child-item"><a href="/coupon">
                <p>คูปองของฉัน</p>
              </a></li>
            <li class="menu-child-item"><a href="/forgot">
                <p>เปลี่ยนรหัสผ่าน</p>
              </a></li>
          </ul>
        </li>
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu2">
          <label for="menu2" class="menu-link">
            <div class="icon">
              <i class="fas fa-file-alt"></i>
            </div>
            <a href="/phurchaseorder"> ใบสั่งซื้อ</a>
          </label>
        </li>
        <li class="menu-item has-collapsible">
          <input type="checkbox" id="menu3">
          <label for="menu3" class="menu-link">
            <div class="icon">
              <i class="fas fa-heart"></i>
            </div>
            <a href="/favoriteorder"> สินค้าที่ถูกใจ</a>
          </label>
        </li>
      </div>
    </div>
  </div>

  <div class="order-page">

    <div class="header">
      <h2>ใบสั่งซื้อ</h2>
      <div class="tabs">
        <div class="tabs-left">
          <p>ค้นหา</p>
          <div class="status-items">
            รหัสคำสั่งซื้อ
          </div>
          <div class="status-items">สินค้า</div>
          <div class="status-items">วัน/เดือน</div>
        </div>
        <div class="search-bar">
          <div class="search-input-wrapper">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="กรอก Order Code ของคุณ..." />
          </div>
          <a class="status-search">ค้นหา</a>
        </div>
        
      </div>
    </div>
    <hr />
    <div class="status-container">
      <div class="status-item active">ทั้งหมด (2)</div>
      <div class="status-item">ที่ต้องชำระ</div>
      <div class="status-item">ที่ต้องจัดส่ง</div>
      <div class="status-item">ที่ต้องได้รับ</div>
      <div class="status-item">สำเร็จ</div>
      <div class="status-item">ยกเลิกแล้ว</div>
    </div>

    <div class="order-list">
      <div class="order-item">
        <div class="product-info">
          <div class="image-placeholder"></div>
          <div class="details">
            <h3>#DN00001254</h3>

            <div class="times">
              <span class="date"><i class="bi bi-calendar"></i>
                <p>23/10/2567</p>
              </span>
              <span class="time"><i class="bi bi-clock"></i>
                <p>17:39:59</p>
              </span>
            </div>

          </div>
        </div>
        <div class="price">
          <p>฿749.00</p>
          <p><i class="fas fa-ticket"></i>
            NHYAPP50</p>
        </div>

        <div class="status">

          <div class="status-item-order">
            <div class="yellow-dot ">
            </div>
            <p>ที่ต้องจัดส่ง</p>
          </div>

          <p>คาดว่าจะได้รับใน 31 ต.ค. - 01 พ.ย.</p>
        </div>
        <div class="actions">
          <div class="report-dowload"> เอกสารการสั่งซื้อ <i class="fas fa-cloud-download-alt"></i></div>
          <div class="actions-item">
            <div class="report-dowload1"> ขย.9 <i class="fas fa-cloud-download-alt"></i>
            </div>
            <div class="report-dowload2"><i class="bi bi-chat-left-dots"></i></div>
          </div>
        </div>
      </div>

      <div class="order-item">
        <div class="product-info">
          <div class="image-placeholder"></div>
          <div class="details">
            <h3>#DN00001254</h3>
            <div class="times">
              <span class="date"><i class="bi bi-calendar"></i>
                <p>23/10/2567</p>
              </span>
              <span class="time"><i class="bi bi-clock"></i>
                <p>17:39:59</p>
              </span>
            </div>
          </div>
        </div>
        <div class="price">
          <p>฿749.00</p>
          <p> <i class="fas fa-ticket"></i>
            NHYAPP50</p>
        </div>
        <div class="status">
          <div class="status-item-order">
            <div class="green-dot">
            </div>
            <p>สำเร็จ</p>
          </div>
          <p>คาดว่าจะได้รับใน 31 ต.ค. - 01 พ.ย.</p>
        </div>
        <div class="actions">
          <div class="report-dowload"> เอกสารการสั่งซื้อ <i class="fas fa-cloud-download-alt"></i></div>
          <div class="actions-item">
            <div class="report-dowload1"> ขย.9 <i class="fas fa-cloud-download-alt"></i>
            </div>
            <div class="report-dowload2"><i class="bi bi-chat-left-dots"></i></div>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="product-info">
          <div class="image-placeholder"></div>
          <div class="details">
            <h3>#DN00001254</h3>
            <div class="times">
              <span class="date"><i class="bi bi-calendar"></i>
                <p>23/10/2567</p>
              </span>
              <span class="time"><i class="bi bi-clock"></i>
                <p>17:39:59</p>
              </span>
            </div>
          </div>
        </div>
        <div class="price">
          <p>฿749.00</p>
          <p> <i class="fas fa-ticket"></i>
            NHYAPP50</p>
        </div>
        <div class="status">
          <div class="status-item-order">
            <div class="blue-dot">
            </div>
            <p>ที่ต้องได้รับ</p>
          </div>
          <p>คาดว่าจะได้รับใน 31 ต.ค. - 01 พ.ย.</p>
        </div>
        <div class="actions">
          <div class="report-dowload"> เอกสารการสั่งซื้อ <i class="fas fa-cloud-download-alt"></i></div>
          <div class="actions-item">
            <div class="report-dowload1"> ขย.9 <i class="fas fa-cloud-download-alt"></i>
            </div>
            <div class="report-dowload2"><i class="bi bi-chat-left-dots"></i></div>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="product-info">
          <div class="image-placeholder"></div>
          <div class="details">
            <h3>#DN00001254</h3>
            <div class="times">
              <span class="date"><i class="bi bi-calendar"></i>
                <p>23/10/2567</p>
              </span>
              <span class="time"><i class="bi bi-clock"></i>
                <p>17:39:59</p>
              </span>
            </div>
          </div>
        </div>
        <div class="price">
          <p>฿749.00</p>
          <p> <i class="fas fa-ticket"></i>
            NHYAPP50</p>
        </div>
        <div class="status">
          <div class="status-item-order">
            <div class="orange-dot">
            </div>
            <p>ที่ต้องชำระ</p>
          </div>
          <p>คาดว่าจะได้รับใน 31 ต.ค. - 01 พ.ย.</p>
        </div>
        <div class="actions">
          <div class="report-dowload"> เอกสารการสั่งซื้อ <i class="fas fa-cloud-download-alt"></i></div>
          <div class="actions-item">
            <div class="report-dowload1"> ขย.9 <i class="fas fa-cloud-download-alt"></i>
            </div>
            <div class="report-dowload2"><i class="bi bi-chat-left-dots"></i></div>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="product-info">
          <div class="image-placeholder"></div>
          <div class="details">
            <h3>#DN00001254</h3>
            <div class="times">
              <span class="date"><i class="bi bi-calendar"></i>
                <p>23/10/2567</p>
              </span>
              <span class="time"><i class="bi bi-clock"></i>
                <p>17:39:59</p>
              </span>
            </div>
          </div>
        </div>
        <div class="price">
          <p>฿749.00</p>
          <p> <i class="fas fa-ticket"></i>
            NHYAPP50</p>
        </div>
        <div class="status">
          <div class="status-item-order">
            <div class="red-dot">
            </div>
            <p>ยกเลิก</p>
          </div>
          <p>คาดว่าจะได้รับใน 31 ต.ค. - 01 พ.ย.</p>
        </div>
        <div class="actions">
          <div class="report-dowload"> เอกสารการสั่งซื้อ <i class="fas fa-cloud-download-alt"></i></div>
          <div class="actions-item">
            <div class="report-dowload1"> ขย.9 <i class="fas fa-cloud-download-alt"></i>
            </div>
            <div class="report-dowload2"><i class="bi bi-chat-left-dots"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button>&lt;</button>
      <button class="active">1</button>
      <button>2</button>
      <button>3</button>
      <button>&gt;</button>
    </div>
  </div>
</div>
<app-footer></app-footer>