<div class="dataarea">
  <div class="profile-container">

    <!-- ส่วนโปรไฟล์ -->
    <div class="profile-section">
      <div class="profile-icon">
        <i class="icon-user"></i>
      </div>
      <div class="profile-details">
        <p class="profile-name">สิริวิชญ์</p>
        <button class="edit-button" aria-label="Edit profile information">
          <i class="icon-edit"></i> แก้ไขข้อมูลส่วนตัว
        </button>

      </div>
    </div>

    <!-- ส่วนเมนู -->
    <div class="menu-section">
      <div class="menu-item">
        <!-- เมนูหลัก: บัญชีของฉัน -->
        <div class="menu-icon-text">
          <i class="icon-user"></i>
          <p> บัญชีของฉัน </p>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <ul class="drop">
            <li>
              <input type="radio" id="personalInfo" name="menu" />
              <label for="personalInfo">ข้อมูลส่วนบุคคล</label>
            </li>
            <li>
              <input type="radio" id="accountBank" name="menu" />
              <label for="accountBank"><a href="/accountbank">บัญชีธนาคาร & บัตร</a></label>
            </li>
            <li>
              <input type="radio" id="businessInfo" name="menu" />
              <label for="businessInfo"><a href="/databusiness">ข้อมูลธุรกิจ</a></label>
            </li>
            <li>
              <input type="radio" id="shippingInfo" name="menu" />
              <label for="shippingInfo"><a href="/dataashipping">ข้อมูลการจัดส่ง</a></label>
            </li>
            <li>
              <input type="radio" id="changePassword" name="menu" />
              <label for="changePassword">เปลี่ยนรหัสผ่าน</label>
            </li>
          </ul>
        </div>

        <!-- เมนูอื่น ๆ -->
        <div class="menu-icon-text">
          <i class="icon-order"></i>
          <a href="/phurchaseorder">
            <p>ใบสั่งซื้อ</p>
          </a>
        </div>
        <div class="menu-icon-text">
          <i class="icon-heart"></i>
          <a href="/favoriteorder">
            <p>สินค้าที่ถูกใจ</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-form">
    <div class="header">
      <div class="tile">
        <h2>ข้อมูลการจัดส่ง</h2>
        <p>จัดการข้อมูลส่วนตัวของคุณเพื่อความปลอดภัยของบัญชีผู้ใช้นี้</p>
      </div>
      <div class="addaddress">
        <i class="bi bi-plus-circle"></i>
        <p>เพิ่มที่อยู่</p>
      </div>
    </div>
    <hr />


    <div class="form-content">
      <!-- ส่วนของชื่อ -->
      <div class="detail-name">
        <div class="input-container">
          <label class="label" for="fullname">ชื่อ - นามสกุล</label>
          <input type="text" id="fullname" class="input-field" placeholder="กรอกชื่อ - นามสกุล">
        </div>
        <div class="input-container">
          <label class="label" for="lastname">เบอร์โทรศัพท์</label>
          <input type="text" id="lastname" class="input-field" placeholder="โปรดระบุเบอร์โทรศัพท์">
        </div>
      </div>

      <!-- ส่วนที่อยู่ -->
      <div class="detail-address">

        <div class="selectaddress">
          <label for="address">เลือกที่อยู่*</label>
          <select id="address" class="address">
            <option value="">เลือกที่อยู่</option>
            <option value="1">บ้าน</option>
            <option value="2">ที่ทำงาน</option>
          </select>
        </div>


      </div>
      <div class="input-container">
        <label class="label" for="houseNumber">บ้านเลขที่</label>
        <input type="text" id="houseNumber" class="input-field" placeholder="บ้านเลขที่, ซอย, หมู่, ถนน, แขวง/ตำบล">
      </div>
      <div class="checkbox-section">
        <input type="checkbox" id="default-address" name="default-address" value="default">
        <label for="default-address">ตั้งค่าเป็นที่อยู่เริ่มต้น</label>
      </div>
      <div class="save-button">
        <p> บันทึก</p>
      </div>
    </div>




  </div>

</div>