<div class="dataarea">

    <div class="profile-container">
        <!-- ส่วนโปรไฟล์ -->
        <div class="profile-section">
            <div class="profile-icon">
                <i class="icon-user"></i>
            </div>
            <div class="profile-details">
                <p class="profile-name">สิริวิชญ์</p>
                <a href=""> <i class="bi bi-pencil-square"></i> แก้ไขข้อมูลส่วนตัว</a>
            </div>
        </div>
        <!-- ส่วนเมนู -->
        <div class="menu-section">
            <div class="menu-item">
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu1">
                    <label for="menu1" class="menu-link">
                        <div class="icon"> <i class="fas fa-user"></i> </div>
                        บัญชีของฉัน
                    </label>
                    <ul class="menu-child">
                        <li class="menu-child-item"><a href="/datapersonnal">
                                <p>ข้อมูลส่วนบุคคล</p>
                            </a></li>
                        <li class="menu-child-item"><a href="/accountbank">
                                <p>บัญชีธนาคาร & บัตร</p>
                            </a></li>
                        <li class="menu-child-item"><a href="/databusiness">
                                <p>ข้อมูลธุรกิจ</p>
                            </a></li>
                        <li class="menu-child-item"><a href="/datashipping">
                                <p>ข้อมูลการจัดส่ง</p>
                            </a></li>
                        <li class="menu-child-item"><a href="/coupon">
                                <p>คูปองของฉัน</p>
                            </a></li>
                        <li class="menu-child-item"><a href="/forgot">
                                <p>เปลี่ยนรหัสผ่าน</p>
                            </a></li>
                    </ul>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu2">
                    <label for="menu2" class="menu-link">
                        <div class="icon">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <a href="/phurchaseorder"> ใบสั่งซื้อ</a>
                    </label>
                </li>
                <li class="menu-item has-collapsible">
                    <input type="checkbox" id="menu3">
                    <label for="menu3" class="menu-link">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <a href="/favoriteorder"> สินค้าที่ถูกใจ</a>
                    </label>
                </li>
            </div>
        </div>
    </div>

    <div class="orderright">

        <div class="order-page">
            <div class="header">
                <h2>ข้อมูลธุรกิจ</h2>
                <p>จัดการข้อมูลคุรเพื่อความปลอดภัยของบัญชีผู้ใช้นี้</p>
            </div>
            <hr />

            <div class="form-group">
                <div class="input-container">
                    <label class="label">คุณคือ</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="ประเภทลูกค้า">
                    </div>
                </div>

                <div class="input-container">
                    <label class="label">ชื่อร้านยา/คลินิก</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="สิริวิชญ์">
                    </div>
                </div>

                <div class="input-container">
                    <label class="label">ชื่อผู้มีอำนาจลงนาม</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="สิริวิชญ์">
                    </div>
                </div>

                <div class="input-container">
                    <label class="label">ฝ่ายจัดซื้อ / ฝ่ายบัญชี / ผจก.ร้าน</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="สิริวิชญ์">
                    </div>
                </div>
            </div>
        </div>



        <div class="order-page-business">
            <div class="header">
                <h2>ใบรับรองบริษัท</h2>
            </div>

            <div class="order-listbank">
                <div class="input-container">
                    <label class="label">หมายเลขอนุญาต</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="ประเภทลูกค้า">
                    </div>
                </div>
            </div>

            <div class="form-group-time">
                <div class="order-listbank">
                    <div class="input-container">
                        <label class="label">หมายเลขอนุญาต</label>
                        <div class="input-wrapper">
                            <input class="input-field" placeholder="1/11/2024">
                            <i class="bi bi-calendar calendar-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <div class="input-address">
                        <label class="label">ที่อยู่</label>
                        <div class="input-wrapper">
                            <select class="dropdown">
                                <option value="category1"><i class="bi bi-bank"></i>BANKOK BANK PUBLIC COMPANY LTD.
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="import-file-time">
                <div class="dropzone">
                    <div class="icon-wrapper">
                        <div class="icon-outline"></div>
                        <div class="image-symbol">
                          <div class="triangle"></div>
                          <div class="circle"></div>
                        </div>
                        <div class="plus-symbol">
                          <div class="vertical"></div>
                          <div class="horizontal"></div>
                        </div>
                      </div>
                    <!-- <img src="http://100dayscss.com/codepen/upload.svg" alt="Upload Icon" class="upload-icon" /> -->
                    <input type="file" class="uploadfile" />
                    <p>ลากและวางไฟล์ที่นี่ </p>
                    <p>ไฟล์ PDF, PNG, JPEG, JPG, DOC หรือ DOCX - สูงสุด 3 ไฟล์</p>
                </div>
            </div>
        </div>

      <div class="order-reportpill">
            <div class="header">
                <h2>ใบอนุญาตสำหรับธุรกิจขายยา / คลีนิก</h2>
            </div>
            
            <div class="order-listbank">
                <div class="input-container">
                    <label class="label">หมายเลขอนุญาต</label>
                    <div class="input-wrapper">
                        <input class="input-field" placeholder="กท 150/2562">
                    </div>
                </div>
            </div>

            <div class="form-group-time">
                <div class="order-listbank">
                    <div class="input-container">
                        <label class="label">หมายเลขอนุญาต</label>
                        <div class="input-wrapper">
                            <input class="input-field" placeholder="1/11/2024">
                            <i class="bi bi-calendar calendar-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <div class="input-address">
                        <label class="label">ที่อยู่</label>
                        <div class="input-wrapper">
                            <select class="dropdown">
                                <option value="category1"><i class="bi bi-bank"></i>BANKOK BANK PUBLIC COMPANY LTD.
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="import-file-time">
                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" alt="Upload Icon" class="upload-icon" />
                    <input type="file" class="uploadfile" />
                    <p>ลากและวางไฟล์ที่นี่ </p>
                    <p>ไฟล์ PDF, PNG, JPEG, JPG, DOC หรือ DOCX - สูงสุด 3 ไฟล์</p>
                </div>
            </div>
        </div>
 

        <div class="order-detail">

            <div class="order-listbank">

                <div class="form-groupbank">
                  

                    <select type="text" class="input-fieldbank">
                        <option value="">ใบอนุญาติอื่น</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                </div>
                <div class="form-groupbank">
                    <input type="text" placeholder="ชื่อบัญชีธนาคาร" class="input-fieldbank" />
                </div>
                <div class="form-groupbank">
                    <select type="text" class="input-fieldbank">
                        <option value="">ที่อยู่</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                </div>
                <div class="form-groupbank">
                    <input type="text" placeholder="ชื่อบัญชีธนาคาร" class="input-fieldbank" />
                </div>
            </div>



        </div>

        <div class="btn-save">
            <p> บันทึก</p>
        </div>
    </div>

</div>