<app-header></app-header>

<div class="bannerheader">
    <div class="banner large-banner">
        <img src="../../../assets/images/banner_home.png" alt="">
    </div>

    <div class="side-banners">
        <div class="banner small-banner">
            <img src="../../../assets/images/banner_home.png" alt="">
        </div>
        <div class="banner small-banner">
            <img src="../../../assets/images/banner_home.png" alt="">
        </div>
    </div>
</div>
 
<div class="category-order">
    <div class="category-section">
        <h2 class="category-title">หมวดหมู่สินค้า
            <a href="#" class="view-all">ดูสินค้าทั้งหมด</a>
        </h2>
        <div class="category-row">
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_pill.png" alt="สินค้าเกี่ยวกับยา">
               
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_medical.png" alt="วิตามินและอาหารเสริม">
                
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_material.png" alt="อุปกรณ์การแพทย์">
 
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_cosmeceuticals.png" alt="เวชภัณฑ์ทางการแพทย์">
              
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_herb.png" alt="">
            </a>
        </div>

    </div>

    <div class="category-section">
        <h2 class="category-title">หมวดหมู่สินค้าสำหรับคลินิก
            <a href="#" class="view-all">ดูสินค้าทั้งหมด</a>
        </h2>
        <div class="category-row">
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_restore.png" alt="">
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_lookafter.png" alt="">
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_dentistry.png" alt="">
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_cosmeceuticals.png" alt="">
            </a>
            <a href="#" class="category-item">
                <img src="../../../assets/images/category/cat_herb.png" alt="">
            </a>
        </div>
     
    </div>
</div>
 

<!--*********************** Promotion Content *******************************-->
<div class="areapromotion">

    <div class="banner-icon">
        <img src="../../../assets/images/banner-sale.png" alt="">
    </div>


    <div class="special">
        <div class="special-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_special.png" alt="">
                </div>
                <div class="title-detail">
                    <h1> Special Promotion</h1>
                </div>
            </div>
        </div>
        <div class="detail-product">
            <div class="product-list">
               
                <div class="product">
                    <div class="header-product">
                        <div class="discount-badge">
                            <img src="../../../assets/images/icon/coin.png">
                            <p>โปรโมชั่นปีใหม่</p>
                        </div>
                        <div class="wishlist">
                            <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                            <button class="view-btn">👁</button>
                        </div>
                    </div>
             

                    <img src="../../../assets/images/product/p1.png"
                        alt="Dermaman Ointment">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <a  href="#"  class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</a>
                            <a  href="#" class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</a>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="../../../assets/images/product/p2.png"
                        alt="Oxecure Serum">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <a  href="#"  class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</a>
                            <a  href="#" class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</a>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn"><i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="../../../assets/images/product/p1.png"
                        alt="Tigerplast Gel">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <a  href="#"  class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</a>
                            <a  href="#" class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</a>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="../../../assets/images/product/p2.png" alt="Herbal Oil">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                       
                    </div>
                    <div class="btn-action">
                        <a  href="#"  class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</a>
                        <a  href="#" class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</a>
                    </div>
                </div>
            </div>

            <div class="product-list2">
                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Dermaman Ointment">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Oxecure Serum">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Tigerplast Gel">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </button>


                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>


    <div class="hot-price">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p1.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>

    <!-- ******************** Flash sale *******************-->
    <div class="flash-sale">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p2.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Flash Sale</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>
    <!-- ********************  Special coin / Vucher *******************-->

    <div class="voucher-promoton">
        <div class="voucher-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_viucher.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Special coin / Voucher</h1>
                </div>
            </div>
        </div>
        <div class="detail-product">
            <div class="product-list">
                <div class="product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Dermaman Ointment">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Oxecure Serum">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn"><i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Tigerplast Gel">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </button>


                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-list2">
                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Dermaman Ointment">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Oxecure Serum">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                        alt="Tigerplast Gel">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="discount-badge">-10%</div>
                    <div class="wishlist">
                        <button class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </button>


                        <button class="view-btn">👁</button>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                    <div class="product-details">
                        <div class="tube">
                            <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                        </div>
                        <div class="btn-action">
                            <button class="btn btn-buy">
                                <img src="../../../assets/images/icon/view_report.png" alt="">
                                ดูรายละเอียด</button>
                            <button class="btn btn-add">
                                <img src="../../../assets/images/icon/add_cart.png" alt="">
                                เพิ่มไปยังรถเข็น</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>

    <!-- ******************** Mounthly Promotion *******************-->
    <div class="mounthly-promoton">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p3.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Monthly Promotion</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>
<!-- ******************** "product-new *******************-->
    <div class="product-new">
        <div class="productnew-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_productnew.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>สินค้าเข้าใหม่</h1>
                </div>
            </div>
         
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>

</div>


<app-footer></app-footer>