   
  <div class="nav-area">
    <div class="banner">
      <img src="../../../assets/images/banner-special.png" alt="">
    </div>

    <div class="header">
      <div class="logo">
        <img src="../../../assets/images/dnlo.png" alt="Logo">
      </div>
      <div class="detail-header">
        <div class="icon-menu">
          <a href="/index">หน้าแรก</a>
          <a href="/productall">สินค้าทั้งหมด</a>
          <a href="/promotion">โปรโมชั่น</a>
          <a href="/phurchaseorder">ใบสั่งซื้อ</a>
          <a href="/couponmyself">คูปองของฉัน</a>
          <a href="/contact">ติดต่อเรา</a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <select name="search-category" id="search-category">
            <option value="all"></option>
            <option value="products">Products</option>
            <option value="categories">Categories</option>
            <option value="brands">Brands</option>
          </select>
        </div>

        <div class="quota">
          <span class="icon-quota">
            <img src="../../../assets/images/icon/quota.png" alt="Quota">
          </span>
          <span class="quota-text">โควต้า 10/100</span>
        </div>
        
        <div class="con-icons">
          <div class="icon-favorite">
            <span><i class="bi bi-heart"></i></span>
            <span class="badge">3</span>
          </div>
          <div class="icon-cart">
            <img src="../../../assets/images/icon/cart_icon.png" alt="Cart">
            <span class="badge">3</span>
          </div>
          <div class="icon-profile">
            <img src="../../../assets/images/profile.png" alt="Profile">
            <span class="status-dot"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="display-title">
      <div class="display-action">
        <p>หน้าแรก</p>
        <p> > </p>
        <p> รถเข็นของคุณ</p>
      </div>
    </div>
  </div> 
  

