<div class="container-login">
    <div class="title-logo">
      <img src="" alt="logo" class="logo" />
      <p>เข้าสู่ระบบ</p>
    </div>
    <div class="input-detail">
      <div class="name">
        <p>ชื่อร้านของคุณ</p>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary">Split dropdown</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item disabled" href="#">Disabled action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
      <div class="password">
        <p>Password</p>
        <input type="password" placeholder="Enter your password" />
      </div>
    </div>
    <div class="actions">
      <a href="#" class="btn btn-primary">เข้าสู่ระบบ</a>
      <a href="#" class="btn btn-outline-primary">ลงทะเบียน</a>
    </div>
  </div>
  