<app-header></app-header>
<div class="areapromotion">

    <div class="banner">
        <img src="../../../assets/images/banner-promotion.png" alt="">
    </div>

    <div class="hot-price">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p1.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>

    <!-- ******************** Flash sale *******************-->
    <div class="flash-sale">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p2.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>
   <!-- ******************** Mounthly Promotion *******************-->
    <div class="mounthly-promoton">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p3.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg"
                    alt="Dermaman Ointment">
                <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Oxecure Serum">
                <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Tigerplast Gel">
                <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="discount-badge">-10%</div>
                <div class="wishlist">
                    <button class="wishlist-btn">
                        <i class="bi bi-heart"></i>
                    </button>


                    <button class="view-btn">👁</button>
                </div>
                <img src="https://cdn.pixabay.com/photo/2022/12/17/14/20/vitamins-7661774_640.jpg" alt="Herbal Oil">
                <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn btn-buy">
                            <img src="../../../assets/images/icon/view_report.png" alt="">
                            ดูรายละเอียด</button>
                        <button class="btn btn-add">
                            <img src="../../../assets/images/icon/add_cart.png" alt="">
                            เพิ่มไปยังรถเข็น</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม ➡️</button>
    </div>
</div>
<app-footer></app-footer>