<app-header></app-header>
<div class="areapromotion">

    <div class="banner">
        <img src="../../../assets/images/banner-promotion.png" alt="">
    </div>

    <div class="hot-price">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p1.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> 
                            <i class="bi bi-heart"></i>
                        </button>
                        <button class="view-btn"> 
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>

                <div class="name-product">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                </div>

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                </div>
              

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                </div>
               

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>
                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>
                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>
                <div class="name-product">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                </div>


                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม <i class="fas fa-arrow-right arrow-icon"></i></button>
    </div>

    <!-- ******************** Flash sale *******************-->
    <div class="flash-sale">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p2.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
            <span class="sale-period">
                <p>จาก 16 ธ.ค. - 29 ธ.ค. 67</p>
            </span>
        </div>

        <div class="product-list">
            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> 
                            <i class="bi bi-heart"></i>
                        </button>
                        <button class="view-btn"> 
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>

                <div class="name-product">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                </div>

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                </div>
              

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                </div>
               

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>
                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>
                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>
                <div class="name-product">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                </div>


                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม <i class="fas fa-arrow-right arrow-icon"></i></button>
    </div>
    <!-- ******************** Mounthly Promotion *******************-->
    <div class="mounthly-promoton">
        <div class="hot-price-header">
            <div class="title">
                <div class="logo-img">
                    <img src="../../../assets/images/icon/icon_p3.png" alt="">
                </div>
                <div class="title-detail">
                    <h1>Hot Price</h1>
                    <div class="timer">
                        <div class="time-unit hour">01</div>
                        <p class="separator">:</p>
                        <div class="time-unit minute">59</div>
                        <p class="separator">:</p>
                        <div class="time-unit second">10</div>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="product-list">
            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> 
                            <i class="bi bi-heart"></i>
                        </button>
                        <button class="view-btn"> 
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>

                <div class="name-product">
                    <h4>Dermaman ointment T.MAN (Pack/12s/15g)</h4>
                </div>

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                </div>
              

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>

                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>

                    </div>
                    <div class="con-productnew">

                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>

                    </div>
                </div>
                <div class="name-product">
                    <h4>Tigerplast Leopovidone gel PHARMACARE (Tube/20g)</h4>
                </div>
               

                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="head-product">
                    <div class="discount-badge">
                        <img src="../../../assets/images/icon/coin.png">
                        <p>โปรโมชั่นปีใหม่</p>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                        <button class="view-btn"> <i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                <div class="circle-promotion">
                    <div class="con-recommend">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>สินค้าแนะนำ</p>
                    </div>
                    <div class="con-delivery">
                        <i class="bi bi-truck"></i>
                        <p>ส่งฟรี</p>
                    </div>
                    <div class="con-productnew">
                        <i class="bi bi-bag-fill bag-front"></i>
                        <p>สินค้่าใหม่</p>
                    </div>
                </div>
                <div class="name-product">
                    <h4>ธาตุอำพัน(ใหญ่) 200ml</h4>
                </div>


                <div class="product-details">
                    <div class="tube">
                        <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                    </div>
                    <div class="btn-action">
                        <button class="btn-buy" href="#">
                            <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                            <span>ดูรายละเอียด</span>
                        </button>
                        <button class="btn-add" href="#">
                            <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                            <span>เพิ่มไปยังรถเข็น</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="view-more">เพิ่มเติม <i class="fas fa-arrow-right arrow-icon"></i></button>
    </div>
</div>
<app-footer></app-footer>