<div class="bannerheader">
  <div class="banner large-banner">
    <img src="../../../assets/images/banner_home.png" alt="">
  </div>

  <div class="side-banners">
    <div class="banner small-banner">
      <img src="../../../assets/images/banner_home.png" alt="">
    </div>
    <div class="banner small-banner">
      <img src="../../../assets/images/banner_home.png" alt="">
    </div>
  </div>
</div>



<div class="red-box">
  <div class="login">
    <p>คลิก</p>
    <p>เข้าสู่ระบบ</p>
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      <p>คลิกเลย!</p>
    </a>
    <hr />
  </div>
  <div class="register">
    <p>คลิก</p>
    <p>ลงทะเบียน</p>
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      <p>คลิกเลย!</p>
    </a>
  </div>
</div>

<div class="bannercategory">
  <div class="banner-item">
    <img src="../../../assets/images/banner/banner_01.png" alt="">
  </div>
  <div class="banner-item">
    <img src="../../../assets/images/banner/banner_02.png" alt="">
  </div>
  <div class="banner-item">
    <img src="../../../assets/images/banner/banner_03.png" alt="">
  </div>
  <div class="banner-item">
    <img src="../../../assets/images/banner/banner_04.png" alt="">
  </div>
</div>

<div class="bannerbestsale2">
  <img src="../../../assets/images/banner-sale.png" alt="">
</div>

<div class="category-order">
  <h2>หมวดหมู่สินค้า</h2>
  <div class="category-row1">
    <a href="#" class="category-item">
      <img src="../../../assets/images/category/cat_pill.png" alt="">

    </a>
    <a  href="#" class="category-item">
      <img src="../../../assets/images/category/cat_medical.png" alt="">

    </a>
    <a  href="#" class="category-item">
      <img src="../../../assets/images/category/cat_material.png" alt="">

    </a>
    <a  href="#" class="category-item">
      <img src="../../../assets/images/category/cat_food.png" alt="">
    </a>
    <a   href="#" class="category-item">
      <img src="../../../assets/images/category/cat_cosmetics.png" alt="">

    </a>
  </div>
  <div class="category-row2">
      <a  href="#" class="category-item">
        <img src="../../../assets/images/category/cat_restore.png" alt="">
      </a>
      <a  href="#" class="category-item">
        <img src="../../../assets/images/category/cat_lookafter.png" alt="">
      </a>
      <a  href="#" class="category-item">
        <img src="../../../assets/images/category/cat_dentistry.png" alt="">
      </a>
      <a  href="#" class="category-item">
        <img src="../../../assets/images/category/cat_cosmeceuticals.png" alt="">
      </a>
      <a  href="#" class="category-item">
        <img src="../../../assets/images/category/cat_herb.png" alt="">
      </a>
  </div>
</div>