<div class="bannerheader">
  <div class="banner large-banner">Banner</div>
  <div class="side-banners">
    <div class="banner small-banner">Banner</div>
    <div class="banner small-banner">Banner</div>
  </div>
</div>


<h2>หมวดหมู่สินค้า</h2>
<div class="red-box">
  <div class="login">
    <p>คลิก</p>
    <p>เข้าสู่ระบบ</p>
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      <p>คลิกเลย!</p>
    </a>
    <hr />
  </div>
  <div class="register">
    <p>คลิก</p>
    <p>ลงทะเบียน</p>
    <a name="" id="" class="btn btn-primary" href="#" role="button">
      <p>คลิกเลย!</p>
    </a>
  </div>
</div>

<div class="bannercategory">
  <div class="banner-item">Banner</div>
  <div class="banner-item">Banner</div>
  <div class="banner-item">Banner</div>
  <div class="banner-item">Banner</div>
  <div class="banner-item">Banner</div>
</div>

<div class="bannerbestsale2">Banner2</div>