<div class="product-page">

    <div class="detail-productorder">
        <div class="images-product">
            <div class="imagespromote">
                <div class="images-item">
                    <img src="https://cdn.pixabay.com/photo/2018/04/10/17/20/medical-3308108_640.jpg"
                        alt="BM BIO Magnesium Advance +D3">
                </div>

            </div>
            <div class="imagespromote-detail">
                <img src="https://cdn.pixabay.com/photo/2018/04/10/17/20/medical-3308108_640.jpg"
                    alt="BM BIO Magnesium Advance +D3">
                <img src="https://cdn.pixabay.com/photo/2018/04/10/17/20/medical-3308108_640.jpg"
                    alt="BM BIO Magnesium Advance +D3">
                <img src="https://cdn.pixabay.com/photo/2018/04/10/17/20/medical-3308108_640.jpg"
                    alt="BM BIO Magnesium Advance +D3">
                <img src="https://cdn.pixabay.com/photo/2018/04/10/17/20/medical-3308108_640.jpg"
                    alt="BM BIO Magnesium Advance +D3">
            </div>
        </div>


        <div class="detail-product">
            <div class="title-product">
                <h1>BM BIO Magnesium Advance +D3</h1>
                <div class="icons">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-info-circle"></i>
                </div>
            </div>
            

            <div class="detailflashsaile">
                <div class="detailflashsaile-title">
                    <i class="bi bi-cart"></i>
                    <p>Flash sale</p>
                    <div class="timeflashsale">
                        <i class="bi bi-alarm"></i>
                        <p>ภายใน</p>
                        <div class="clock">
                            <div class="time">
                                <span class="hour">12</span>:<span class="minute">34</span>:<span
                                    class="second">56</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="price">
                    <h3>ราคาสินค้า : 639.00 บาท
                    </h3>
                    <p>฿749.00</p>
                </div>
                <div class="energy-tube">
                    <div class="energy">
                        <p>สินค้ามีจำนวนจำกัด : 200 รายการ</p>
                    </div>
                </div>
            </div>
            <div class="detail-factor">
                <p>จำนวน</p>
                <div class="action">
                    <button class="btn decrease" aria-label="Press to reduce">-</button>
                    <div class="display" aria-live="polite"><p>0</p></div>
                    <button class="btn increase" aria-label="Press to increase">+</button>
                </div>
                <p>หน่วย</p>
                <p>(บรรจุหน่วยย่อย 500 เม็ด)</p>
                <div class="checklist-factor">
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> ขวด x 500 เม็ด</label><br>
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> แพ็ค x 3 ขวด</label><br>
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> ลัง x 2 ขวด</label><br>
                </div>
                <label class="text-factor">สินค้าราคาโควต้า จำกัดการซื้อสูงสุด 5 แพ็ค / คำสั่งซื้อ</label>
                <div class="btn-action">
                    <div class="addtocart">
                        <i class="bi bi-cart2"></i>
                        <p>เพิ่มไปยังรถเข็น</p>
                    </div>
                    <div class="buy">
                        <p>ซื้อสินค้าโดยใช้โค้ด</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="change-detailproduct">
        <ul>
            <li class="active">รายละเอียดสินค้า</li>
            <li>สินค้าใกล้เคียง</li>
        </ul>
        <div class="tab-content">
            <h2>รายละเอียดสินค้า</h2>
            <ul>
                <li>ขนาดแพ็ค: ขวด x 500 เม็ด</li>
                <li>หมวดหมู่: ยา</li>
                <li>ประเภท: ยา-อนุญาตพิเศษ</li>
                <li>สรรพคุณ: กำจัดปัญหาสุขภาพ</li>
                <li>ข้อบ่งใช้: รักษาโรคเกี่ยวกับข้อต่อและกระดูก</li>
            </ul>
        </div>
    </div>
</div>