<app-header></app-header>
<div class="product-page">

    <div class="detail-productorder">
        <div class="images-product">
            <div class="imagespromote">
                <div class="images-item">
                    <img src="../../../assets/images/product/p3.png" alt="BM BIO Magnesium Advance +D3">
                </div>
            </div>
            <div class="imagespromote-detail">
                <img src="../../../assets/images/product/p3.png" alt="BM BIO Magnesium Advance +D3">
                <img src="../../../assets/images/product/p3.png" alt="BM BIO Magnesium Advance +D3">
                <img src="../../../assets/images/product/p3.png" alt="BM BIO Magnesium Advance +D3">
                <img src="../../../assets/images/product/p3.png" alt="BM BIO Magnesium Advance +D3">
            </div>
        </div>


        <div class="detail-product">
            <div class="title-product">
                <h1>BM BIO Magnesium Advance +D3</h1>
                <div class="icons">

                    <div class="con-heart">
                        <i class="bi bi-heart"></i>
                    </div>

                    <div class="concircle-info">
                        <a (click)="openproblemDialog()">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>

                </div>
            </div>


            <div class="detailflashsaile">
                <div class="detailflashsaile-title">
                    <div class="img-icon">
                        <img src="../../../assets/images/icon/icon_cart.png" alt="">
                    </div>

                    <p>Flash sale</p>
                    <div class="timeflashsale">
                        <i class="bi bi-clock"></i>
                        <p>ภายใน</p>
                        <div class="clock">
                            <div class="time">
                                <span class="hour">12</span>:<span class="minute">34</span>:<span
                                    class="second">56</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price">
                    <p class="title-price">
                        ราคาสินค้า: <span class="money">639.00</span> บาท
                      </p>
                      
                    <p class="price-down">฿749.00</p>
                </div>
                <div class="energy-tube">
                    <div class="energy">
                        <p>สินค้ามีจำนวนจำกัด : 200 รายการ</p>
                    </div>
                </div>
            </div>
            <div class="detail-factor">
                <p>จำนวน</p>
                <div class="action">
                    <button class="btn decrease" aria-label="Press to reduce">-</button>
                    <div class="display" aria-live="polite">
                        <p>0</p>
                    </div>
                    <button class="btn increase" aria-label="Press to increase">+</button>
                    <!-- <label> มีสินค้าทั้งหมด 5,000 ชิ้น</label> -->
                </div>
                <p>หน่วย</p>
                <p>(บรรจุหน่วยย่อย 500 เม็ด)</p>
                <div class="checklist-factor">
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> ขวด x 500 เม็ด</label><br>
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> แพ็ค x 3 ขวด</label><br>
                    <input type="checkbox" id="vehicle1">
                    <label for="vehicle1"> ลัง x 2 ขวด</label><br>
                </div>
                <label class="text-factor">สินค้าราคาโควต้า จำกัดการซื้อสูงสุด 5 แพ็ค / คำสั่งซื้อ</label>
                <div class="btn-action">
                    <div class="addtocart">
                        <i class="bi bi-cart2"></i>
                        <p>เพิ่มไปยังรถเข็น</p>
                    </div>
                    <div class="buy">
                        <p>ซื้อสินค้าโดยใช้โค้ด</p>
                    </div>
                </div>
            </div>
        </div>


        <dialog #ProblemDialog class="problem-dialog">
            <div class="problem-title">
                <h3>สวัสดี สิรวิชญ์</h3>
            </div>
            <div class="detail-problem">
                <div class="data-general">
                    <div class="data-problem">
                        <p>คุณต้องการความช่วยเหลืออะไร</p>
                        <div class="name-person">
                            <input type="text" placeholder="เคลมสินค้า">
                            <select name="" id=""></select>
                        </div>
                    </div>

                    <div class="data-contactproblem">
                        <div class="type-store">
                            <p>คุณต้องการความช่วยเหลืออะไร</p>
                            <div class="name-store">
                                <input type="text" placeholder="กรุณาใส่หมายเลขคำสั่งซื้อ">
                                <select name="" id=""></select>
                            </div>
                        </div>

                        <div class="time-store">
                            <p>สถานะการสั่งซื้อ</p>
                            <div class="timeline">

                                <input type="text" placeholder="ช่วงเวลาทำการ">
                                <select name="" id=""></select>
                            </div>
                        </div>

                    </div>

                    <div class="data-reason">
                        <p>เหตุผล</p>
                        <div class="name-reason">
                            <input type="text" placeholder="สินค้าใกล้หมดอายุ">
                            <select name="" id=""></select>
                        </div>
                    </div>

                    <div class="data-payment">
                        <div class="data-payment1">

                            <div class="type-bank">
                                <p>ชื่อบัญชีธนาคาร</p>
                                <div class="name-bank">
                                    <input type="text" placeholder="สิรวิชญ์ แสงวิโรจนากุล">
                                    <select name="" id=""></select>
                                </div>
                            </div>
                            <div class="number-bank">
                                <p>หมายเลขบัญชี</p>
                                <div class="numbank">
                                    <input type="text" placeholder="4068933968">
                                    <select name="" id=""></select>
                                </div>
                            </div>
                        </div>

                        <div class="data-payment2">
                            <div class="bank">
                                <p>ธนาคาร</p>
                                <div class="name-bank">
                                    <input type="text" placeholder="SIAM COMMERCIAL BANK">
                                    <select name="" id=""></select>
                                </div>
                            </div>
                            <div class="branch-bank">
                                <p>สาขาธนาคาร</p>
                                <div class="branchbank">
                                    <input type="text" placeholder="PUBLIC COMPANY LTD.">
                                    <select name="" id=""></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="change-bank">
                        <p>คุณต้องการเปลี่ยนข้อมูลบัญชีธนาคาร <a href="#">คลิกที่นี่</a></p>
                    </div>
                    <div class="data-detalproblem">
                        <p>รายละเอียด</p>
                        <div class="detalproblem">
                            <input type="text" placeholder="กรุณาใส่นื้อหาของคำตอบ">
                        </div>
                    </div>
                    <div class="import-file-time">
                        <div class="dropzone">
                            <p>รูปภาพประกอบ</p>
                            <div class="icon-wrapper">
                                <div class="icon-outline"></div>
                                <div class="image-symbol">
                                    <div class="triangle"></div>
                                    <div class="circle"></div>
                                </div>
                                <div class="plus-symbol">
                                    <div class="vertical"></div>
                                    <div class="horizontal"></div>
                                </div>
                            </div>
                            <input type="file" class="uploadfile" />
                            <p>ลากและวางไฟล์ที่นี่ </p>
                            <p>ไฟล์ PDF, PNG, JPEG, JPG, DOC หรือ DOCX - สูงสุด 3 ไฟล์</p>
                        </div>
                    </div>
                </div>
                <div class="btn-action">
                    <a href="#" class="action-register">ส่งคำขอ</a>
                </div>
            </div>
        </dialog>
        
    </div>




    <div class="change-detailproduct">
        <div class="btn-change-detailproduct">
            <a class="detail-btn"   [class.active]="isProductDetailActive" (click)="toggleTab('detail')">รายละเอียดสินค้า</a>
            <a class="location-btn"  [class.active]="!isProductDetailActive" (click)="toggleTab('similar')">สินค้าใกล้เคียง</a>
            <div class="tab-content">
                <div *ngIf="isProductDetailActive">
                    <div class="detail-text">
                        <ul>
                            <li>ขนาดแพ็ค: กล่อง</li>
                            <li>หมวดหมู่: ยา</li>
                            <li>ประเภท: ยา-แผนปัจจุบัน</li>
                            <li>สรรพคุณ: แก้ปวด/ลดไข้ (NSAIDs)</li>
                            <li>ข้อบ่งใช้: บรรเทาอาการเจ็บปวด ภาวะอักเสบของข้อ ไขข้ออักเสบ (Osteoarthritis) ไขข้อกระดูกสันหลังลักเลบ (Ankylosing Spondylitis) 
                            <li>ปวดท้องประจำเดือน ปวดฟัน </li>
                            <li>วิธีการใช้: รับประทานครั้งละ 1 เม็ด วันละ 1 ครั้ง หลังอาหารเช้า</li>
                            <li>ข้อควรระวัง: รับประทานหลังอาหารกันที</li>
                            <li>อาการข้างเคียง:รู้สึกไม่สบายตัวเล็กน้อย มีลมในท้อง  ท้องเสีย ท้องผูก เจ็บคอมีอาการคล้ายเป็นหวัด  
                            </li>
                            <li>ส่วนประกอบสินค้า: Celecoxib 400 mg</li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!isProductDetailActive">
                    <div class="product-branch">

                        <div class="product">
                            <div class="head-product">
                                <div class="discount-badge">
                                    <img src="../../../assets/images/icon/coin.png">
                                    <p>โปรโมชั่นปีใหม่</p>
                                </div>
                                <div class="wishlist">
                                    <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                                    <button class="view-btn">👁</button>
                                </div>
                            </div>
    
                            <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                            <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                            <div class="product-details">
                                <div class="tube">
                                    <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                                </div>
                                <div class="btn-action">
                                    <a class="btn-buy" href="#">
                                        <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                                        <span>ดูรายละเอียด</span>
                                    </a>
                                    <a class="btn-add" href="#">
                                        <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                                        <span>เพิ่มไปยังรถเข็น</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="head-product">
                                <div class="discount-badge">
                                    <img src="../../../assets/images/icon/coin.png">
                                    <p>โปรโมชั่นปีใหม่</p>
                                </div>
                                <div class="wishlist">
                                    <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                                    <button class="view-btn">👁</button>
                                </div>
                            </div>
    
                            <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                            <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                            <div class="product-details">
                                <div class="tube">
                                    <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                                </div>
                                <div class="btn-action">
                                    <a class="btn-buy" href="#">
                                        <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                                        <span>ดูรายละเอียด</span>
                                    </a>
                                    <a class="btn-add" href="#">
                                        <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                                        <span>เพิ่มไปยังรถเข็น</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="head-product">
                                <div class="discount-badge">
                                    <img src="../../../assets/images/icon/coin.png">
                                    <p>โปรโมชั่นปีใหม่</p>
                                </div>
                                <div class="wishlist">
                                    <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                                    <button class="view-btn">👁</button>
                                </div>
                            </div>
    
                            <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                            <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                            <div class="product-details">
                                <div class="tube">
                                    <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                                </div>
                                <div class="btn-action">
                                    <a class="btn-buy" href="#">
                                        <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                                        <span>ดูรายละเอียด</span>
                                    </a>
                                    <a class="btn-add" href="#">
                                        <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                                        <span>เพิ่มไปยังรถเข็น</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="head-product">
                                <div class="discount-badge">
                                    <img src="../../../assets/images/icon/coin.png">
                                    <p>โปรโมชั่นปีใหม่</p>
                                </div>
                                <div class="wishlist">
                                    <button class="wishlist-btn"> <i class="bi bi-heart"></i></button>
                                    <button class="view-btn">👁</button>
                                </div>
                            </div>
    
                            <img src="../../../assets/images/product/p2.png" alt="Oxecure Serum">
                           
                            <div class="circle-promotion">
                                <div class="con-recommend">
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                    <p>สินค้าแนะนำ</p>
                                </div>
                                <div class="con-delivery">
                                    <i class="bi bi-truck-front"></i>
                                    <p>ส่งฟรี</p>
                                </div>
                                <div class="con-productnew">
                                    <i class="bi bi-bag-fill bag-front"></i>
                                    <p>สินค้่าใหม่</p>
                                </div>
                            </div>
                            <h4>Oxecure Acne Defense Prebio Serum SPC (Bottle/20ml)</h4>
                            <div class="product-details">
                                <div class="tube">
                                    <div class="fill"><span>สินค้าคงเหลือ: 10</span></div>
                                </div>
                                <div class="btn-action">
                                    <a class="btn-buy" href="#">
                                        <img src="../../../assets/images/icon/view_report.png" alt="Buy Icon">
                                        <span>ดูรายละเอียด</span>
                                    </a>
                                    <a class="btn-add" href="#">
                                        <img src="../../../assets/images/icon/add_cart.png" alt="Add Icon">
                                        <span>เพิ่มไปยังรถเข็น</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
<app-footer></app-footer>