<div class="dataarea">
    <div class="profile-container">
        <div class="profile-section">
            <div class="profile-icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="profile-details">
                <p class="profile-name">สิริวิชญ์</p>
                <button class="edit-button">
                    <i class="bi bi-pencil"></i> แก้ไขข้อมูลส่วนตัว
                </button>
            </div>
        </div>

        <div class="menu-section">
            <div class="menu-icon-text">
                <i class="bi bi-person"></i>
                <p>บัญชีของฉัน</p>
            </div>
            <div class="menu-icon-text">
                <i class="bi bi-basket"></i>
                <p>ใบสั่งซื้อ</p>
            </div>
            <div class="menu-icon-text">
                <i class="bi bi-heart"></i>
                <p>สินค้าที่ถูกใจ</p>
            </div>
        </div>
    </div>

    <div class="detail-coupon">

        <div class="detail-container">
            <section class="coupons">
                <h2>รายการคูปอง</h2>
                <hr />
                <div class="cou">

                    <div class="coupon-card">
                        <div class="coupon-left">
                            <img src="https://file.drugnetcenter.com/assets/logo.png" alt="DN Center Logo"
                                class="coupon-logo">
                        </div>
                        <div class="coupon-right">
                            <h3 class="coupon-title">ส่วนลด 50 บาท</h3>
                            <div class="row-circle">
                                <p class="coupon-min">ขั้นต่ำ ฿0</p>
                                <div class="circle"></div>
                            </div>
                            <p class="coupon-expiry">
                                ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                                <a href="#" class="coupon-terms">เงื่อนไข</a>
                            </p>
                        </div>
                    </div>



                    <div class="coupon-card">
                        <div class="coupon-left">
                            <img src="https://file.drugnetcenter.com/assets/logo.png" alt="Logo" class="coupon-logo">
                        </div>
                        <div class="coupon-right">
                            <h3 class="coupon-title">ส่วนลด 100 บาท</h3>
                            <div class="row-circle">
                                <p class="coupon-min">ขั้นต่ำ ฿0</p>
                                <div class="circle"></div>
                            </div>
                        
                            <p class="coupon-expiry">
                                ใกล้หมดอายุ: <span class="highlight">เหลือ 8 ชั่วโมง</span>
                                <a href="#" class="coupon-terms">เงื่อนไข</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <table class="history">
            <thead>
                <tr>
                    <th>
                        <h3> ประวัติการใช้งาน</h3>
                    </th>
                </tr>
                <tr>
                    <th>รหัสส่วนลดของฉัน</th>
                    <th>รหัสคูปอง</th>
                    <th>รายละเอียด</th>
                    <th>คำสั่งซื้อที่เกี่ยวข้อง</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>17/12/2024</td>
                    <td>ORDER2024</td>
                    <td>ลด 100 บาท เมื่อซื้อขั้นต่ำ 2,000 บาท</td>
                    <td>#373721</td>
                </tr>
                <tr>
                    <td>17/12/2024</td>
                    <td>CHRISTMAS24</td>
                    <td>ส่วนลดวันคริสต์มาสต์ 100 บาท เมื่อซื้อขั้นต่ำ 2,000 บาท</td>
                    <td>#127372</td>
                </tr>
                <tr>
                    <td>17/12/2024</td>
                    <td>NEWBIE24</td>
                    <td>ออเดอร์แรก รับส่วนลด 10%</td>
                    <td>#663749</td>
                </tr>
            </tbody>
        </table>




    </div>




</div>